*, *:after, *:before{
	box-sizing: border-box;
}
body{
	background: linear-gradient(to left,#833ab4 0%, #fd1d1d 50%,#fcb045 100%);
	font-family: "Helvetica", sans-serif;
}
#center{
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
	max-width: 400px;
	width: 100%;
}
.form{
	width: 100%;
}
.group{
	position: relative;
	margin-top: 50px;
}
.form input{
	padding: 10px 90px 10px 20px;
	font-size: 24px;
	width: 100%;
	display: block;
	border: 0;
}
.form input:focus{
	outline: 0;
}
.form button{
	position:absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 90px;
	background: #fff;
	border: 0;
	font-size: 30px;
	padding: 0;
	color: #fd1d1d;
	border-left: 1px solid #999;
	cursor: pointer;
	transition: all .3s ease-in-out;
}
.form button:hover{
	background: #fd1d1d;
	color: #fff;
}
.rom_number{
	font-size: 60px;
	height: 60px;
	text-align: center;
	color: #fff;
	font-family: 'Imbue', serif;
}